  <div id="memolist">
  <ul>
    <% current_user.memos.each do |memo| %>
      <li data-memoid="<%=memo.id%>">
        <%= link_to "Delete -", memo, method: :delete, remote: true %>
        <%= memo.content%> / <%= memo.created_at%> / <%= memo.calendardate%></li>
    <% end %>
  </ul>
</div>
