

<!--<div class="bpcontainer">-->
<div>
  <div class="backimage">

  <div class="navs sticky">
      <%= render 'pages/toper' %>
  </div>

  <div class="margin-page">
    <div>
        <p><%= @partenaires.first.firstname unless @partenaires.nil? %></p>
    </div>
    <div class="avatar-girl">
      <%= cl_image_tag @partenaires.first.photo, width: 75, height: 75, crop: :thumb, gravity: :face %>
      <div>
        <a href="" id="clickavatar">Ajoute une photo</a>
      </div>
    </div>
    <div class="avatare">
      <%= render 'avatar' %>
    </div>

    <div class="activites">

      <div>
      </div>
      <div class="background-card-light margin-card-activities">
        <h2></i> Ses activités culturelles favorites</h2>
        <h3>Pour qu'on te propose des idées de sortie qui feront mouche !</h3>
          <div class="detail-activities">
            <% Interest.where(genre: 'Activité').each do |interest| %>
              <div class="interest-container" data-interest-id="<%= interest.id %>">
              <%= render 'partenaire_interests/link_toogle_partenaire', interest: interest %>
              </div>
            <% end %>
        </div>
    </div>

    <div class="bloc-dates-interest">
      <div class="background-card-light">
        <h2></i> Vos dates importantes</h2>
        <h3>Pour t'en souvenir et marquer le coup !</h3>
          <%= render 'partenaires/formdate' %>
          <%= render 'partenaires/dateclef' %>
      </div>

  <div class="background-card-light">
    <h2></i> Ses centres d'intérêt</h2>
    <h3>Pour être au plus près de ses envies !</h3>
     <!-- , local: true pour le form_with evite ajax -->
     <div class="margin-forms">
      <%= form_with url: partenaire_interests_path, method: :post do |f| %>
        <%= f.select(
          :interest_id,
          options_from_collection_for_select(Interest.where(genre: "Centre d'intérêt"),:id,:title),
          { include_blank: true },
          class:"select2", id:"truc")
          %>
        <%= f.submit :Ajouter, class:"btnberomantic btnberomantic:hover" %>
      <% end %>
      </div>
      <div id="interets" >
        <%= render 'partenaires/interet' %>
      </div>
    </div>
  </div>
  <div class="footerdash">
    <%= render '/pages/footer' %>
  </div>
  </div>
</div>
<!--</div>-->




