<h1>partenaire informations</h1>
<div class="flash-container">
<% if flash[:notice].present? %>
  <div class="alert alert-info alert-dismissible" role="alert">
  <%= notice %>
  </div>
  <% puts 'je passe par la notice' %>
  <% puts notice %>
<% puts flash[:notice] %>
<% end %>
</div>

<p><%= @partenaires.first.firstname unless @partenaires.nil? %></p>

<!-- , local: true pour le form_with evite ajax -->
<p>choisir un interet et l'ajouter</p>
<%= form_with url: partenaire_interests_path, method: :post do |f| %>
  <%= f.select(:interest_id, options_from_collection_for_select(Interest.where(genre: "Centre d'intérêt"), :id, :title)) %>
<%= f.submit :ajouter %>
<% end %>

<p>visualiser les interets choisis</p>

<div id="interets" >
  <%= render 'partenaires/interet' %>
</div>

<p>choisir une activité et l'ajouter</p>
<%= form_with url: partenaire_interests_path, method: :post do |f| %>
  <%= f.select(:activite_id, options_from_collection_for_select(Interest.where(genre: "Activité"), :id, :title)) %>
<%= f.submit :ajouter %>
<% end %>
<p>visualiser les activités choisie</p>
<div id="activity" >
  <%= render 'partenaires/activites' %>
</div>

<p>ajouter une date clef</p>
<p>visualiser les dates clefs</p>

<p>ajouter un memo</p>
<p>visualiser les memos</p>

