<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "Logo_Beromantic.png" %>
    <% end %>
    <div class="divheart">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" width="128px" height="128px" style="display: none;">
        <symbol id="wave">
          <path d="M86.707 46.26c7.383-8.216 6.708-20.861-1.508-28.244-8.215-7.382-20.861-6.708-28.244 1.508L50 27.263l-6.955-7.74c-7.383-8.215-20.027-8.89-28.244-1.508-8.216 7.384-8.891 20.029-1.508 28.245L16.654 50h66.692l3.361-3.74z"></path>
          <path d="M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z"></path>
          <path d="M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z"></path>
          <path d="M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z"></path>
        </symbol>
      </svg>

      <svg width="0" height="0">
        <defs>
          <clipPath id="heart" >
            <path d="M45.479,17.482C33.7-10.258.22-3.785,0,28.411-0.123,46.094,15.942,52.7,26.638,59.773,37.01,66.628,44.392,76.007,45.549,80c0.99-3.912,9.212-13.555,18.813-20.418C74.86,52.077,91.123,45.9,91,28.219,90.779-4.057,56.716-9.151,45.479,17.482Z"/>
          </clipPath>
        </defs>
      </svg>


      <% score = [(@caleventnum[0][1].to_i * 80 / 100) + 20, 120].min %>

      <div class="box">
        <div id="water" class="water" style="top: -<%= score %>px" data-score="<%= @caleventnum[0][1].to_i %>">
          <svg viewBox="0 0 560 20" class="water_wave water_wave_back">
            <use xlink:href="#wave"></use>
          </svg>
          <svg viewBox="0 0 560 20" class="water_wave water_wave_front">
            <use xlink:href="#wave"></use>
          </svg>
        </div>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Love Board", pages_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Ses informations", partenaires_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Les événements", user_events_path, class: "nav-link" %>
        </li>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%#= link_to "Action", "#", class: "dropdown-item" %>
            <%#= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
        <% avatar_url = current_user.facebook_picture_url || current_user.photo || "http://placehold.it/30x30" %>
        <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
      <% else %>
        <li class="nav-item">
          <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <button type="button" class="btn btn-black" data-toggle="modal" data-target="#exampleModal">
            Me connecter
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-black" data-toggle="modal" data-target="#exampleModal2">
            Créer mon compte
          </button>
        </li>
      <% end %>
    </ul>
    <div>
      <%= render "shared/modale" %>
    </div>
  </div>
</div>
