<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "Logo_Beromantic.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Love Board", pages_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Ses informations", partenaires_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Les événements", user_events_path, class: "nav-link" %>
        </li>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%#= link_to "Action", "#", class: "dropdown-item" %>
            <%#= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
        <% avatar_url = current_user.facebook_picture_url || current_user.photo || "http://placehold.it/30x30" %>
        <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
      <% else %>
        <li class="nav-item">
          <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <button type="button" class="btn btn-black" data-toggle="modal" data-target="#exampleModal">
            Me connecter
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-black" data-toggle="modal" data-target="#exampleModal2">
            Créer mon compte
          </button>
        </li>
      <% end %>
    </ul>
    <div>
      <%= render "shared/modale" %>
    </div>
  </div>
</div>
