<div class="calendarcard">
    <!-- choix de la periode -->
  <%= form_with url: pages_path, method: :get, local: true do |f| %>
    <%# f.label :nb_jour_pre, 'nombre de jours précédent (default: J - 5j jours)' %>
    <%= f.number_field(:nb_jour_pre, {min: 0, max: 30, value: 5, type: 'hidden'}) %>
    <%= f.range_field(:nb_jour_post, :in => 0..100, :step => 5, class: 'form-control-range', id: "rangebar") %>
    <%= f.submit :afficher, class: 'btn btn-outline-secondary' %>
    <p id="rangevaleur" class="text-center">15</p>
  <% end %>
    <!-- <input type="range" class="form-control-range"> -->
  <div class="containercalendar">
    <%=  render 'calendarseule',results_sql: @results_sql  %>
  </div>
</div>
