
<div class="maincard scrollable">
      <%  @userevents.each do |r|%>
        <div class="card mb-2 rounded-2">
          <!-- <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap"> -->
          <%= image_tag(r.photo_url, class:'card-img-top') %>
          <div class="card-body">
            <h4 class="card-title"><%= r.title || r.category%> </h4>
            <p class="card-text">
              <%= r.start_date %> / <%= r.end_date %>
            </p>
            <p class="card-text">
              <%= r.description[0,100]%> <%= r.description.length > 100 ? '[...]' : ''%>
            </p>
            <% userevent = UserEvent.find_by(event_id: r.id) %>
            <% classc = userevent.calendar == true ? "btn btn-outline-primary" : "btn btn-primary" %>
            <% text = userevent.calendar == true ? "- calendar" : "+ calendrier" %>
            <%= link_to text, user_event_path(userevent.id), method: :patch, local:true, class: classc  %>

          </div>
        </div>
      <% end %>
    <%= link_to 'event list', user_events_path  %>
</div>
