<div class="brcontainer">

    <div class="navs sticky">
      <%= render 'toper' %>
    </div>

    <div class="sides">
    <%= render 'sidebar' %>
    </div>

      <div class="feeds">
        <%= render 'feed' %>
      </div>
      <div class="calendar">
        <p class="ml-2" style="font-size:1.3em;color:rgb(50,50,50);"><strong>Mon calendrier</strong></p>
        <%= render 'calendar' %>
      </div>
      <div class="events">
        <p class="ml-2 mt-3 text-center" style="font-size:1.3em;color:rgb(50,50,50);"><strong>Offrir un évènement?</strong></p>
        <%= render 'eventlist' %>
      </div>


</div>
