<div class="brcontainer">

    <div class="navs sticky">
      <%= render 'toper' %>
    </div>



      <div class="feeds">
        <%= render 'feed' %>
      </div>

      <div class="addmemo memoadd">
      <%=render 'memoformsansdate' %>
      </div>

      <div class="memolist">
        <div class="cardsmemocontainer">
          <div class="d-flex flex-column justify-content-between align-items-center">
            <div id="memolist">
            <%= render 'partenaires/memo' %>
          </div>
          </div>
        </div>
      </div>


      <div class="calendar">
        <%= render 'calendar' %>
      </div>
      <div class="events">
        <%= render 'eventlist' %>
      </div>

      <div class="footerdash">
        <%= render '/pages/footer' %>
      </div>

</div>
