<div class="brcontainer">

    <div class="navs sticky">
      <%= render 'toper' %>
    </div>

    <div class="sides">
    </div>

     <div class="positionimage">
      <%= render 'sidebar' %>
     </div>

      <div class="feeds">
        <%= render 'feed' %>
      </div>

      <div class="memos">
        <div class="maincard lightshadow">
          <div class="card text-center mw-50">
            <div class="card-body">
              <%= render 'partenaires/formmemo' %>
            </div>
          </div>
          <div class="card-footer text-muted">
            <h3>Ajoute un mémo ! Avec une date, il sera dans le calendrier</h3>
          </div>
        </div>
      </div>

      <div class="memolist">
        <h2 class="ml-3" >Mes mémos</h2>
        <div class="maincard lightshadow">
          <%= render 'partenaires/memo' %>
        </div>
      </div>

      <div class="calendar">
        <h2 class="ml-2" >Mon calendrier</h2>
        <%= render 'calendar' %>
      </div>
      <div class="events">
        <h2 class="ml-2 mt-3 text-center" >Des idées de sortie !</h2>
        <%= render 'eventlist' %>
      </div>


</div>
