<div class="brcontainer">

    <div class="navs sticky">
      <%= render 'toper' %>
    </div>



      <div class="feeds">
        <%= render 'feed' %>
      </div>



      <div class="memolist">
        <div class="d-flex justify-content-between align-items-center">
           <h2 class="ml-3" >Mes mémos</h2>
          <i class="fas fa-plus-square mr-4" id="plusmemo">
          </i>
        </div>
      <%= render 'memoformsansdate' %>

      <div class="memolist">
        <div class="maincard lightshadow">
          <%= render 'partenaires/memo' %>
        </div>
      </div>
    </div>

      <div class="calendar">
        <div class="d-flex justify-content-between align-items-center">
          <h2 class="ml-2" >Mon calendrier</h2>
          <i class="fas fa-plus-square mr-4" style="font-size: 1.6em;color:rgb(73, 73, 87);"></i>
        </div>

        <%= render 'calendar' %>
      </div>
      <div class="events">
        <%= render 'eventlist' %>
      </div>

      <div class="footerdash">
        <%= render '/pages/footer' %>
      </div>

</div>
