<div class="brcontainer">

    <div class="navs sticky">
      <%= render 'toper' %>
    </div>

    <div class="sides">
    </div>

     <div class="positionimage">
      <%= render 'sidebar' %>
     </div>

      <div class="feeds">
        <%= render 'feed' %>
      </div>

      <div class="memos">
        <%= render 'memoform' %>
      </div>

      <div class="memolist">
        <div class="d-flex justify-content-between align-items-center">
          <p class="ml-3 mb-0" style="font-size:1.3em;color:rgb(73, 73, 87);"><strong>Mes mémos</strong></p>
          <i class="fas fa-plus-square mr-4" id="plusmemo">
          </i>
        </div>
        <%= render 'memoformsansdate' %>
        <div class="maincard lightshadow">
          <%= render 'partenaires/memo' %>
        </div>
      </div>

      <div class="calendar">
        <div class="d-flex justify-content-between align-items-center">
          <p class="ml-3 mb-0" style="font-size:1.3em;color:rgb(73, 73, 87);"><strong>Mon calendrier</strong></p>
          <i class="fas fa-plus-square mr-4" style="font-size: 1.6em;color:rgb(73, 73, 87);"></i>
        </div>
        <%= render 'calendar' %>
      </div>
      <div class="events">
        <p class="ml-2 mt-3 text-center" style="font-size:1.3em;color:rgb(73, 73, 87);"><strong>Offrir un évènement?</strong></p>
        <%= render 'eventlist' %>
      </div>


</div>
