<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta property="og:title" content="BeRomantic, le premier site qui vous aide à garder votre conjoint">
  <meta property="og:image" content="facebook-card.jpg">
  <meta property="og:description" content="Vous voulez ranimer la flamme? Faire des petites intentions avec votre conjointe? suivez le guide, beromantic vous aide à avoir une vie de couple heureuse et remplie">
  <meta property="og:site_name" content="BeRomantic"/>
  <title><%= meta_title %></title>
  <meta name="description" content="<%= meta_description %>">

  <!-- Facebook Open Graph data -->
  <meta property="og:title" content="<%= meta_title %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= meta_image %>" />
  <meta property="og:description" content="<%= meta_description %>" />
  <meta property="og:site_name" content="<%= meta_title %>" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
  <meta name="twitter:title" content="<%= meta_title %>">
  <meta name="twitter:description" content="<%= meta_description %>">
  <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
  <meta name="twitter:image:src" content="<%= meta_image %>">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <%= favicon_link_tag %>
    <title>BeRomantic, gardez votre partenaire!</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

  <%= content_for(:toto) %>

  <link rel="manifest" href="/manifest.json" />
  </head>
  <body>

    <%= render 'shared/flashes' %>
    <div class="d-flex flex-column" style="min-height: 100vh;">
      <div class="align-self-stretch flex-grow-1">
      <%= yield %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
      <% if current_user.present? %>
        <%= javascript_pack_tag 'subscription' %>
        <script>window.vapidPublicKey = new Uint8Array(<%= Base64.urlsafe_decode64(ENV['PUBLIC_KEY']).bytes %>);
      </script>
      <% end %>
      </div>
    </div>
  </body>
</html>
